### Add MCRB xll (xs) and yll (ys) coords to synthetic CML coords to prevent negative values when converting from lat/lon to standard xy grid for RMWSPy code:  run_inv.py

In [1]:
import numpy as np
import pandas as pd
import math
import scipy as st
import scipy.stats as stats
import matplotlib.pyplot as plt
%matplotlib inline
from numpy import genfromtxt

### Read in the CML data

In [10]:
# Use pd.read_csv to read csv file
CMLdata_df = pd.read_csv(r"C:\Users\b1043453\OneDrive - Newcastle University\OnePlanet PhD\Random_mixing\RMWSPy_Horning_and_Haese_2021\RMWSPy-master\RMWSPy-master\MCRB_examples\MCRB_gauges_only\input_data\syn_obs_CML_2015_08.csv", header=None, delimiter="\t")
CMLdata_df

,0,1,2,3,4,5,6,7,8,9,...,739,740,741,742,743,744,745,746,747,748
0,47.8000,10.00000,48.0000,9.60000,37269.000,0.227834,0.032344,0.000000,0.036522,0.267353,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
1,47.9240,8.19100,47.8200,8.40000,19446.000,0.000000,0.000000,0.000006,0.009536,0.096855,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
2,47.9240,8.19100,47.9250,7.95800,17413.000,0.005161,0.000000,0.000000,0.000000,0.000630,...,0.0,0.0,0.0,0.0,0.000012,0.000000,0.00000,0.000000,0.000000,0.000000
3,47.9800,10.18000,47.8900,10.19000,10030.000,0.114786,0.106716,0.000000,0.000392,0.166779,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
4,47.9800,10.18000,48.0000,10.30000,9230.000,0.037420,0.223060,0.000009,0.000000,0.134725,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,49.4883,9.74000,49.4743,9.65000,6705.072,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
96,49.0500,9.74458,49.1000,9.74956,5572.451,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
97,49.4190,8.26000,49.4076,8.19367,4977.390,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.00000,0.000000,0.000000,0.014426
98,48.8534,8.14753,48.8480,8.21000,4623.850,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.00000,0.024744,0.111743,0.000000
99,48.5800,8.16000,48.6100,8.09500,5841.023,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.320786,5.29822,3.004149,0.000000,0.000000

### Cols 0 and 2 are y coords: add 5642972 to each value in cols 0 and 2
### Cols 1 and 3 are x coords: add 623445 to each value in cols 1 and 3
### Use a lambda function to do the addition to each row

In [11]:
CMLdata_df[0] = CMLdata_df[0].apply(lambda x: x + 5642972)
CMLdata_df[1] = CMLdata_df[1].apply(lambda x: x + 623445)
CMLdata_df[2] = CMLdata_df[2].apply(lambda x: x + 5642972)
CMLdata_df[3] = CMLdata_df[3].apply(lambda x: x + 623445)

CMLdata_df

,0,1,2,3,4,5,6,7,8,9,...,739,740,741,742,743,744,745,746,747,748
0,5.643020e+06,623455.00000,5.643020e+06,623454.60000,37269.000,0.227834,0.032344,0.000000,0.036522,0.267353,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
1,5.643020e+06,623453.19100,5.643020e+06,623453.40000,19446.000,0.000000,0.000000,0.000006,0.009536,0.096855,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
2,5.643020e+06,623453.19100,5.643020e+06,623452.95800,17413.000,0.005161,0.000000,0.000000,0.000000,0.000630,...,0.0,0.0,0.0,0.0,0.000012,0.000000,0.00000,0.000000,0.000000,0.000000
3,5.643020e+06,623455.18000,5.643020e+06,623455.19000,10030.000,0.114786,0.106716,0.000000,0.000392,0.166779,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
4,5.643020e+06,623455.18000,5.643020e+06,623455.30000,9230.000,0.037420,0.223060,0.000009,0.000000,0.134725,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,5.643021e+06,623454.74000,5.643021e+06,623454.65000,6705.072,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
96,5.643021e+06,623454.74458,5.643021e+06,623454.74956,5572.451,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
97,5.643021e+06,623453.26000,5.643021e+06,623453.19367,4977.390,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.00000,0.000000,0.000000,0.014426
98,5.643021e+06,623453.14753,5.643021e+06,623453.21000,4623.850,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.00000,0.024744,0.111743,0.000000
99,5.643021e+06,623453.16000,5.643021e+06,623453.09500,5841.023,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.320786,5.29822,3.004149,0.000000,0.000000

### Write dataframe to csv

In [12]:
CMLdata_df.to_csv(r"C:\Users\b1043453\OneDrive - Newcastle University\OnePlanet PhD\Random_mixing\RMWSPy_Horning_and_Haese_2021\RMWSPy-master\RMWSPy-master\MCRB_examples\MCRB_gauges_only\input_data\syn_obs_CML_2015_08_MCRBcoords.csv", sep="\t", index=False, header=False)