### Create precipitation input csv files for RMWSPy code:  run_inv.py
### All stations with P data for 2005-2016:
### Fisera Ridge, Upper Clearing, Hay Meadow
### Kananaskis, Bow Valley, Kananaskis Pocaterra, Banff CS, Wildcat Hills
### Read in inputs to Pandas dataframe
### Concatenate and write them into one csv file

In [1]:
import numpy as np
import pandas as pd
import math
import scipy as st
import scipy.stats as stats
import matplotlib.pyplot as plt
%matplotlib inline

### Fisera Ridge 2325 m

In [2]:
# Use pd.read_csv to read csv file
FRP_df = pd.read_csv(r"C:\Users\b1043453\OneDrive - Newcastle University\OnePlanet PhD\Hydrological_Modelling\Marmot_Creek_Research_Basin\Version 02\Meteorology\Recent_modelling_data\time_series_inputs\FRdailyprecip.csv", 
                            header=None, names= ["date", "FR_p_mm"])
FRP_df.set_index("date", inplace=True)
FRP_df.head()

            FR_p_mm
date
2005-10-01  16.0160
2005-10-02   0.0000
2005-10-03   0.7649
2005-10-04   0.5463
2005-10-05   0.0896

### Upper Clearing 1845 m

In [3]:
# Use pd.read_csv to read csv file
UCP_df = pd.read_csv(r"C:\Users\b1043453\OneDrive - Newcastle University\OnePlanet PhD\Hydrological_Modelling\Marmot_Creek_Research_Basin\Version 02\Meteorology\Recent_modelling_data\time_series_inputs\UCdailyprecip.csv", 
                            header=None, names= ["date", "UC_p_mm"])
UCP_df.set_index("date", inplace=True)
UCP_df.head()

            UC_p_mm
date
2005-10-01  11.3028
2005-10-02   0.0000
2005-10-03   0.5399
2005-10-04   0.3855
2005-10-05   0.0633

### Hay Meadow 1436 m

In [4]:
# Use pd.read_csv to read csv file
HMP_df = pd.read_csv(r"C:\Users\b1043453\OneDrive - Newcastle University\OnePlanet PhD\Hydrological_Modelling\Marmot_Creek_Research_Basin\Version 02\Meteorology\Recent_modelling_data\time_series_inputs\HMdailyprecip.csv", 
                            header=None, names= ["date", "HM_p_mm"])
HMP_df.set_index("date", inplace=True)
HMP_df.head()

            HM_p_mm
date
2005-10-01   7.3722
2005-10-02   0.0000
2005-10-03   0.0000
2005-10-04   0.0000
2005-10-05   0.0000

### Kananaskis 1391.1 m

In [5]:
# Use pd.read_csv to read csv file
KP_df = pd.read_csv(r"C:\Users\b1043453\OneDrive - Newcastle University\OnePlanet PhD\Hydrological_Modelling\Marmot_Creek_Research_Basin\Other_stations_within_50km\Kananaskis\en_climate_daily_AB_3053600_2005-2016_P1D.csv", 
                               header=[0])
# rename cols
KP_df.rename(columns={'Date/Time': 'date', 'Total Precip (mm)': 'K_p_mm'}, inplace=True) # rename date column
# set date index
KP_df.set_index("date", inplace=True)
# change datetime format to YMD
KP_df.index = pd.to_datetime(KP_df.index, format = '%d/%m/%Y').strftime('%Y-%m-%d')
# KP_df

In [6]:
# drop unwanted columns
KP_df.drop(["Longitude (x)", "Latitude (y)", "Station Name", "Climate ID", "Year", "Month",
                      "Day", "Data Quality", "Max Temp (°C)", "Max Temp Flag", "Min Temp (°C)", "Min Temp Flag",
                      "Mean Temp (°C)", "Mean Temp Flag", "Heat Deg Days (°C)", "Heat Deg Days Flag", "Cool Deg Days (°C)",
                       "Cool Deg Days Flag", "Total Rain (mm)", "Total Rain Flag", "Total Snow (cm)", "Total Snow Flag",
                       "Total Precip Flag", "Snow on Grnd (cm)", "Snow on Grnd Flag", "Dir of Max Gust (10s deg)",
                       "Dir of Max Gust Flag", "Spd of Max Gust (km/h)", "Spd of Max Gust Flag"], axis=1, inplace=True)
# KP_df

In [7]:
# check for missing values
KP_df.isna().values.sum()

14

In [8]:
# replace missing values with NaN
KP_df["K_p_mm"].fillna("NaN", inplace = True)
KP_df

           K_p_mm
date
2005-01-01    0.6
2005-01-02      0
2005-01-03    0.4
2005-01-04      0
2005-01-05      0
...           ...
2016-12-27      0
2016-12-28      0
2016-12-29      0
2016-12-30      0
2016-12-31      4

[4383 rows x 1 columns]

In [9]:
KP_df[KP_df.iloc[:, 0]=='NaN']

           K_p_mm
date
2008-08-24    NaN
2008-08-25    NaN
2010-01-03    NaN
2011-03-30    NaN
2011-08-19    NaN
2012-01-12    NaN
2012-03-07    NaN
2013-09-10    NaN
2013-12-15    NaN
2014-04-28    NaN
2014-11-27    NaN
2016-04-01    NaN
2016-04-02    NaN
2016-04-13    NaN

In [54]:
# drop 1st Jan to 30th Sep 2005 (MCRB inputs start at 1st Oct 2005)
KP_df.drop(KP_df.loc["2005-01-01":"2005-09-30"].index, inplace=True)
# KP_df.head()
# drop 2nd Oct to 31st Dec 2016 (MCRB inputs end at 1st Oct 2016)
KP_df.drop(KP_df.loc["2016-10-02":"2016-12-31"].index, inplace=True)
# KP_df.tail()

### Bow Valley 1297.5 m

In [55]:
# Use pd.read_csv to read csv file
BVP_df = pd.read_csv(r"C:\Users\b1043453\OneDrive - Newcastle University\OnePlanet PhD\Hydrological_Modelling\Marmot_Creek_Research_Basin\Other_stations_within_50km\Bow_Valley\en_climate_daily_AB_3050778_2005-2016_P1D.csv", 
                               header=[0])
# rename cols
BVP_df.rename(columns={'Date/Time': 'date', 'Total Precip (mm)': 'BV_p_mm'}, inplace=True) # rename date column
# set date index
BVP_df.set_index("date", inplace=True)
# change datetime format to YMD
BVP_df.index = pd.to_datetime(BVP_df.index, format = '%d/%m/%Y').strftime('%Y-%m-%d')
# BVP_df

In [56]:
# drop unwanted columns
BVP_df.drop(["Longitude (x)", "Latitude (y)", "Station Name", "Climate ID", "Year", "Month",
                      "Day", "Data Quality", "Max Temp (°C)", "Max Temp Flag", "Min Temp (°C)", "Min Temp Flag",
                      "Mean Temp (°C)", "Mean Temp Flag", "Heat Deg Days (°C)", "Heat Deg Days Flag", "Cool Deg Days (°C)",
                       "Cool Deg Days Flag", "Total Rain (mm)", "Total Rain Flag", "Total Snow (cm)", "Total Snow Flag",
                       "Total Precip Flag", "Snow on Grnd (cm)", "Snow on Grnd Flag", "Dir of Max Gust (10s deg)",
                       "Dir of Max Gust Flag", "Spd of Max Gust (km/h)", "Spd of Max Gust Flag"], axis=1, inplace=True)
# BVP_df

In [57]:
# check for missing values
BVP_df.isna().values.sum()

173

In [58]:
# # find cols with missing values
# BVP_df[BVP_df.iloc[:, 0]=='NaN']

In [59]:
# replace missing values with NaN
BVP_df["BV_p_mm"].fillna("NaN", inplace = True)

In [60]:
# drop 1st Jan to 30th Sep 2005 (MCRB inputs start at 1st Oct 2005)
BVP_df.drop(BVP_df.loc["2005-01-01":"2005-09-30"].index, inplace=True)
# drop 2nd Oct to 31st Dec 2016 (MCRB inputs end at 1st Oct 2016)
BVP_df.drop(BVP_df.loc["2016-10-02":"2016-12-31"].index, inplace=True)
# BVP_df

### Kananaskis Pocaterra 1610.0 m

In [61]:
# Use pd.read_csv to read csv file
KPP_df = pd.read_csv(r"C:\Users\b1043453\OneDrive - Newcastle University\OnePlanet PhD\Hydrological_Modelling\Marmot_Creek_Research_Basin\Other_stations_within_50km\Kananaskis_Pocaterra\en_climate_daily_AB_3053604_2005-2016_P1D.csv", 
                               header=[0])
# rename cols
KPP_df.rename(columns={'Date/Time': 'date', 'Total Precip (mm)': 'KP_p_mm'}, inplace=True) # rename date column
# set date index
KPP_df.set_index("date", inplace=True)
# change datetime format to YMD
KPP_df.index = pd.to_datetime(KPP_df.index, format = '%d/%m/%Y').strftime('%Y-%m-%d')
# KPP_df

In [62]:
# drop unwanted columns
KPP_df.drop(["Longitude (x)", "Latitude (y)", "Station Name", "Climate ID", "Year", "Month",
                      "Day", "Data Quality", "Max Temp (°C)", "Max Temp Flag", "Min Temp (°C)", "Min Temp Flag",
                      "Mean Temp (°C)", "Mean Temp Flag", "Heat Deg Days (°C)", "Heat Deg Days Flag", "Cool Deg Days (°C)",
                       "Cool Deg Days Flag", "Total Rain (mm)", "Total Rain Flag", "Total Snow (cm)", "Total Snow Flag",
                       "Total Precip Flag", "Snow on Grnd (cm)", "Snow on Grnd Flag", "Dir of Max Gust (10s deg)",
                       "Dir of Max Gust Flag", "Spd of Max Gust (km/h)", "Spd of Max Gust Flag"], axis=1, inplace=True)
# KPP_df

In [63]:
# check for missing values
KPP_df.isna().values.sum()

1734

In [64]:
# replace missing values with NaN
KPP_df["KP_p_mm"].fillna('NaN', inplace = True)
# KPP_df

In [65]:
# drop 1st Jan to 30th Sep 2005 (MCRB inputs start at 1st Oct 2005)
KPP_df.drop(KPP_df.loc["2005-01-01":"2005-09-30"].index, inplace=True)
# drop 2nd Oct to 31st Dec 2016 (MCRB inputs end at 1st Oct 2016)
KPP_df.drop(KPP_df.loc["2016-10-02":"2016-12-31"].index, inplace=True)
# KPP_df

### Banff CS 1396.9 m

In [66]:
# Use pd.read_csv to read csv file
BCSP_df = pd.read_csv(r"C:\Users\b1043453\OneDrive - Newcastle University\OnePlanet PhD\Hydrological_Modelling\Marmot_Creek_Research_Basin\Other_stations_within_50km\Banff_CS\en_climate_daily_AB_3050519_2005-2016_P1D.csv", 
                               header=[0])
# rename cols
BCSP_df.rename(columns={'Date/Time': 'date', 'Total Precip (mm)': 'BCS_p_mm'}, inplace=True) # rename date column
# set date index
BCSP_df.set_index("date", inplace=True)
# change datetime format to YMD
BCSP_df.index = pd.to_datetime(BCSP_df.index, format = '%d/%m/%Y').strftime('%Y-%m-%d')
# BCSP_df

In [67]:
# drop unwanted columns
BCSP_df.drop(["Longitude (x)", "Latitude (y)", "Station Name", "Climate ID", "Year", "Month",
                      "Day", "Data Quality", "Max Temp (°C)", "Max Temp Flag", "Min Temp (°C)", "Min Temp Flag",
                      "Mean Temp (°C)", "Mean Temp Flag", "Heat Deg Days (°C)", "Heat Deg Days Flag", "Cool Deg Days (°C)",
                       "Cool Deg Days Flag", "Total Rain (mm)", "Total Rain Flag", "Total Snow (cm)", "Total Snow Flag",
                       "Total Precip Flag", "Snow on Grnd (cm)", "Snow on Grnd Flag", "Dir of Max Gust (10s deg)",
                       "Dir of Max Gust Flag", "Spd of Max Gust (km/h)", "Spd of Max Gust Flag"], axis=1, inplace=True)
# BCSP_df

In [68]:
# check for missing values
BCSP_df.isna().values.sum()

38

In [69]:
# replace missing values with NaN
BCSP_df["BCS_p_mm"].fillna('NaN', inplace = True)
# BCSP_df

In [70]:
# drop 1st Jan to 30th Sep 2005 (MCRB inputs start at 1st Oct 2005)
BCSP_df.drop(BCSP_df.loc["2005-01-01":"2005-09-30"].index, inplace=True)
# drop 2nd Oct to 31st Dec 2016 (MCRB inputs end at 1st Oct 2016)
BCSP_df.drop(BCSP_df.loc["2016-10-02":"2016-12-31"].index, inplace=True)
# BCSP_df

### Wildcat Hills 1268.0 m

In [71]:
# Use pd.read_csv to read csv file
WHP_df = pd.read_csv(r"C:\Users\b1043453\OneDrive - Newcastle University\OnePlanet PhD\Hydrological_Modelling\Marmot_Creek_Research_Basin\Other_stations_within_50km\Wild_Cat_Hills\en_climate_daily_AB_3037550_2005-2016_P1D.csv", 
                               header=[0])
# rename cols
WHP_df.rename(columns={'Date/Time':'date', 'Total Precip (mm)':'WH_p_mm'}, inplace=True) # rename date column
# set date index
WHP_df.set_index("date", inplace=True)
# change datetime format to YMD
WHP_df.index = pd.to_datetime(WHP_df.index, format = '%d/%m/%Y').strftime('%Y-%m-%d')
# WHP_df

In [72]:
# drop unwanted columns
WHP_df.drop(["Longitude (x)", "Latitude (y)", "Station Name", "Climate ID", "Year", "Month",
                      "Day", "Data Quality", "Max Temp (°C)", "Max Temp Flag", "Min Temp (°C)", "Min Temp Flag",
                      "Mean Temp (°C)", "Mean Temp Flag", "Heat Deg Days (°C)", "Heat Deg Days Flag", "Cool Deg Days (°C)",
                       "Cool Deg Days Flag", "Total Rain (mm)", "Total Rain Flag", "Total Snow (cm)", "Total Snow Flag",
                       "Total Precip Flag", "Snow on Grnd (cm)", "Snow on Grnd Flag", "Dir of Max Gust (10s deg)",
                       "Dir of Max Gust Flag", "Spd of Max Gust (km/h)", "Spd of Max Gust Flag"], axis=1, inplace=True)
# WHP_df

In [73]:
# check for missing values
WHP_df.isna().values.sum()

452

In [76]:
# replace missing values with NaN
WHP_df["WH_p_mm"].fillna('NaN', inplace = True)
# WHP_df

In [77]:
# drop 1st Jan to 30th Sep 2005 (MCRB inputs start at 1st Oct 2005)
WHP_df.drop(WHP_df.loc["2005-01-01":"2005-09-30"].index, inplace=True)
# need to drop 2nd Oct to 31st Dec 2016 (MCRB inputs end at 1st Oct 2016)
WHP_df.drop(WHP_df.loc["2016-10-02":"2016-12-31"].index, inplace=True)
# WHP_df

### Concatenate the station dataframes in order of elevation (highest to lowest)

In [79]:
allstnsP_df = pd.concat([FRP_df, UCP_df, KPP_df, HMP_df, BCSP_df, KP_df, BVP_df, WHP_df], axis=1, join="outer")
allstnsP_df

            FR_p_mm  UC_p_mm KP_p_mm  HM_p_mm BCS_p_mm K_p_mm BV_p_mm WH_p_mm
date
2005-10-01  16.0160  11.3028      16   7.3722       11      0    10.4     0.8
2005-10-02   0.0000   0.0000       0   0.0000      0.2    0.4       0       0
2005-10-03   0.7649   0.5399       0   0.0000      0.2    1.2     0.2       4
2005-10-04   0.5463   0.3855       0   0.0000        0      0     0.4       0
2005-10-05   0.0896   0.0633     1.4   0.0000        0      0       0       0
...             ...      ...     ...      ...      ...    ...     ...     ...
2016-09-27   0.9676   0.0000     NaN   0.0000        0      0       0     NaN
2016-09-28   0.0894   0.0000     NaN   0.0000        0      0       0     NaN
2016-09-29   0.0000   0.0000       0   0.0000        0      0       0     NaN
2016-09-30   1.6435   1.2649      16   0.5463      1.7   10.6       0     NaN
2016-10-01   0.0000   0.0000     NaN   0.0000     25.1    7.6    15.4     NaN

[4019 rows x 8 columns]

### Write dataframe to csv (Note: opening csv file in Excel shows the wrong date format (dmy) but this is an Excel glitch - ignore it!)

In [80]:
allstnsP_df.to_csv(r"C:\Users\b1043453\OneDrive - Newcastle University\OnePlanet PhD\Random_mixing\RMWSPy_Horning_and_Haese_2021\RMWSPy-master\MCRB_examples\MCRB_gauges_only\Characterising_P_statistics\Pinputs_2005-2016.csv")