### Create precipitation input csv files for RMWSPy code:  run_inv.py
### All stations in 20km radius of FR: Fisera Ridge, Upper Clearing, Hay Meadow, Kananaskis, Bow Valley
### Read in inputs to Pandas dataframe
### Concatenate and write them into one csv file

In [1]:
import numpy as np
import pandas as pd
import math
import scipy as st
import scipy.stats as stats
import matplotlib.pyplot as plt
%matplotlib inline

### Fisera Ridge 2325 m

In [2]:
# Use pd.read_csv to read csv file
FRP_df = pd.read_csv(r"C:\Users\b1043453\OneDrive - Newcastle University\OnePlanet PhD\Hydrological_Modelling\Marmot_Creek_Research_Basin\Version 02\Meteorology\Recent_modelling_data\time_series_inputs\FRdailyprecip.csv", 
                            header=None, names= ["date", "FR_p_mm"])
FRP_df.set_index("date", inplace=True)
# FRP_df.head()

### Upper Clearing 1845 m

In [3]:
# Use pd.read_csv to read csv file
UCP_df = pd.read_csv(r"C:\Users\b1043453\OneDrive - Newcastle University\OnePlanet PhD\Hydrological_Modelling\Marmot_Creek_Research_Basin\Version 02\Meteorology\Recent_modelling_data\time_series_inputs\UCdailyprecip.csv", 
                            header=None, names= ["date", "UC_p_mm"])
UCP_df.set_index("date", inplace=True)
# UCP_df.head()

### Hay Meadow 1436 m

In [4]:
# Use pd.read_csv to read csv file
HMP_df = pd.read_csv(r"C:\Users\b1043453\OneDrive - Newcastle University\OnePlanet PhD\Hydrological_Modelling\Marmot_Creek_Research_Basin\Version 02\Meteorology\Recent_modelling_data\time_series_inputs\HMdailyprecip.csv", 
                            header=None, names= ["date", "HM_p_mm"])
HMP_df.set_index("date", inplace=True)
# HMP_df.head()

### Kananaskis 1391.1 m

In [5]:
# Use pd.read_csv to read csv file
KP_df = pd.read_csv(r"C:\Users\b1043453\OneDrive - Newcastle University\OnePlanet PhD\Hydrological_Modelling\Marmot_Creek_Research_Basin\Other_stations_within_50km\Kananaskis\en_climate_daily_AB_3053600_2005-2016_P1D.csv", 
                               header=[0])
# rename cols
KP_df.rename(columns={'Date/Time': 'date', 'Total Precip (mm)': 'K_p_mm'}, inplace=True) # rename date column
# set date index
KP_df.set_index("date", inplace=True)
# change datetime format to YMD
KP_df.index = pd.to_datetime(KP_df.index, format = '%d/%m/%Y').strftime('%Y-%m-%d')
# KP_df

In [6]:
# drop unwanted columns
KP_df.drop(["Longitude (x)", "Latitude (y)", "Station Name", "Climate ID", "Year", "Month",
                      "Day", "Data Quality", "Max Temp (°C)", "Max Temp Flag", "Min Temp (°C)", "Min Temp Flag",
                      "Mean Temp (°C)", "Mean Temp Flag", "Heat Deg Days (°C)", "Heat Deg Days Flag", "Cool Deg Days (°C)",
                       "Cool Deg Days Flag", "Total Rain (mm)", "Total Rain Flag", "Total Snow (cm)", "Total Snow Flag",
                       "Total Precip Flag", "Snow on Grnd (cm)", "Snow on Grnd Flag", "Dir of Max Gust (10s deg)",
                       "Dir of Max Gust Flag", "Spd of Max Gust (km/h)", "Spd of Max Gust Flag"], axis=1, inplace=True)
# KP_df

In [7]:
# check for missing values
KP_df.isna().values.sum()

14

In [8]:
# replace missing values with NaN
KP_df["K_p_mm"].fillna("NaN", inplace = True)
# KP_df

In [9]:
# KP_df[KP_df.iloc[:, 0]=='NaN']

In [10]:
# drop 1st Jan to 30th Sep 2005 (MCRB inputs start at 1st Oct 2005)
KP_df.drop(KP_df.loc["2005-01-01":"2005-09-30"].index, inplace=True)
# KP_df.head()
# drop 2nd Oct to 31st Dec 2016 (MCRB inputs end at 1st Oct 2016)
KP_df.drop(KP_df.loc["2016-10-02":"2016-12-31"].index, inplace=True)
# KP_df.tail()

### Bow Valley 1297.5 m

In [11]:
# Use pd.read_csv to read csv file
BVP_df = pd.read_csv(r"C:\Users\b1043453\OneDrive - Newcastle University\OnePlanet PhD\Hydrological_Modelling\Marmot_Creek_Research_Basin\Other_stations_within_50km\Bow_Valley\en_climate_daily_AB_3050778_2005-2016_P1D.csv", 
                               header=[0])
# rename cols
BVP_df.rename(columns={'Date/Time': 'date', 'Total Precip (mm)': 'BV_p_mm'}, inplace=True) # rename date column
# set date index
BVP_df.set_index("date", inplace=True)
# change datetime format to YMD
BVP_df.index = pd.to_datetime(BVP_df.index, format = '%d/%m/%Y').strftime('%Y-%m-%d')
# BVP_df

In [12]:
# drop unwanted columns
BVP_df.drop(["Longitude (x)", "Latitude (y)", "Station Name", "Climate ID", "Year", "Month",
                      "Day", "Data Quality", "Max Temp (°C)", "Max Temp Flag", "Min Temp (°C)", "Min Temp Flag",
                      "Mean Temp (°C)", "Mean Temp Flag", "Heat Deg Days (°C)", "Heat Deg Days Flag", "Cool Deg Days (°C)",
                       "Cool Deg Days Flag", "Total Rain (mm)", "Total Rain Flag", "Total Snow (cm)", "Total Snow Flag",
                       "Total Precip Flag", "Snow on Grnd (cm)", "Snow on Grnd Flag", "Dir of Max Gust (10s deg)",
                       "Dir of Max Gust Flag", "Spd of Max Gust (km/h)", "Spd of Max Gust Flag"], axis=1, inplace=True)
# BVP_df

In [13]:
# check for missing values
BVP_df.isna().values.sum()

173

In [14]:
# # find cols with missing values
# BVP_df[BVP_df.iloc[:, 0]=='NaN']

In [15]:
# replace missing values with NaN
BVP_df["BV_p_mm"].fillna("NaN", inplace = True)

In [16]:
# drop 1st Jan to 30th Sep 2005 (MCRB inputs start at 1st Oct 2005)
BVP_df.drop(BVP_df.loc["2005-01-01":"2005-09-30"].index, inplace=True)
# drop 2nd Oct to 31st Dec 2016 (MCRB inputs end at 1st Oct 2016)
BVP_df.drop(BVP_df.loc["2016-10-02":"2016-12-31"].index, inplace=True)
# BVP_df

### Concatenate the station dataframes in order of elevation (highest to lowest)

In [17]:
allstnsP_df = pd.concat([FRP_df, UCP_df, HMP_df, KP_df, BVP_df], axis=1, join="outer")
allstnsP_df

            FR_p_mm  UC_p_mm  HM_p_mm K_p_mm BV_p_mm
date
2005-10-01  16.0160  11.3028   7.3722      0    10.4
2005-10-02   0.0000   0.0000   0.0000    0.4       0
2005-10-03   0.7649   0.5399   0.0000    1.2     0.2
2005-10-04   0.5463   0.3855   0.0000      0     0.4
2005-10-05   0.0896   0.0633   0.0000      0       0
...             ...      ...      ...    ...     ...
2016-09-27   0.9676   0.0000   0.0000      0       0
2016-09-28   0.0894   0.0000   0.0000      0       0
2016-09-29   0.0000   0.0000   0.0000      0       0
2016-09-30   1.6435   1.2649   0.5463   10.6       0
2016-10-01   0.0000   0.0000   0.0000    7.6    15.4

[4019 rows x 5 columns]

### Write dataframe to csv (Note: opening csv file in Excel shows the wrong date format (dmy) but this is an Excel glitch - ignore it!)

In [19]:
allstnsP_df.to_csv(r"C:\Users\b1043453\OneDrive - Newcastle University\OnePlanet PhD\Random_mixing\RMWSPy_Horning_and_Haese_2021\RMWSPy-master\MCRB_examples\MCRB_gauges_only\Characterising_P_statistics\Pinputs_20km_stns.csv")

### Write dataframe to a different csv that will be used in run_inv.py to calculate probability of zero p (P0)

In [19]:
allstnsP_df.to_csv(r"C:\Users\b1043453\OneDrive - Newcastle University\OnePlanet PhD\Random_mixing\RMWSPy_Horning_and_Haese_2021\RMWSPy-master\MCRB_examples\MCRB_gauges_only\all_stations_20km\input_data\P0inputs_20km_stns.csv", index=False, header=None)